<form action="">
    <!-- Aluno -->
    <div class="form-floating">
        <select class="form-select" formControlName="genero" aria-label="Default select example">
            <option value="masculino">Aluno1</option>
            <option value="feminino">Aluno2</option>
            <option value="outro">Aluno3</option>
        </select>
        <label for="floatingInputValue" class="label-select">Aluno</label>
    </div>

    <div class="row"> 
        <!-- Título -->
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control"/>
                <label for="floatingInputValue">Código professor</label>
            </div>
        </div>
         <!-- Data -->
         <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control"/>
                <label for="floatingInputValue">Matéria</label>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Descrição -->
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control"/>
                <label for="floatingInputValue">Descrição</label>
            </div>
        </div>
    </div>

    <div class="row"> 
        <!-- Código professor -->
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control"/>
                <label for="floatingInputValue">Código professor</label>
            </div>
        </div>
         <!-- Data -->
         <div class="col-md">
            <div class="form-floating">
                <input type="date" class="form-control">
            </div>
        </div>
    </div>

    <!-- Submit  -->
    <div class="div-btn">
        <button class="btn btn-dark">REGISTRAR</button>
    </div>
</form>