@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');

.toolbar{
    position: absolute;
    height: 62px;
    width: 100vw;
    top: 0;
    background-color: #76a5c8;
    font-family: 'Inter', sans-serif;
}

.toolbar-container {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar-titulo {
    margin-left: 200px;
    margin-top: 16px;
    border-bottom: 2px solid black;
    padding-bottom: 13px;
    font-size: 24px;
}

.toolbar-usuario {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    margin-right: 70px;
}

.toolbar-nome-usuario{
    font-size: 14px;
}

@media (max-width: 647px){
    .toolbar-usuario {
        display: none;
    }
}