<div class="container">

  <!-- Título da página -->
  <h1 class="container-title">
    Usuários
    <img src="../../../../assets/usuarios/usuarios.svg" alt="Ícone usuários">
  </h1>


  <div class="container-button">
    <!-- Botão de registrar novo usuário -->
    <button id="button-register" class="btn btn-secondary" (click)="formularioRegistro()" type="button">
      Registrar novo usuário
    </button>

    <!-- Botão de editar usuário -->
    <button id="button-editer" class="btn btn-secondary" (click)="formularioEditar()">
      Editar um usuário
    </button>
  </div>

  <!-- Formulários -->
  <div class="container-formularios">

    <ng-container *ngIf="showFormularioRegistro">
      <app-form-criar-usuario></app-form-criar-usuario>
    </ng-container>

    <ng-container *ngIf="showFormularioEditar">
      <app-form-editar-usuario></app-form-editar-usuario>
    </ng-container>

  </div>

</div>