<div class="container">
    <!-- Título -->
    <h1 class="titulo">
        Editar empresa
        <img class="icone-titulo" src="../../../../assets/empresa/editar.svg" alt="">
    </h1>

    <!-- Formulário -->
    <form class="form">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputValue">
            <label for="floatingInputValue">Nome</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputValue">
            <label for="floatingInputValue">Slogan</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputValue">
            <label for="floatingInputValue">Cores</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputValue">
            <label for="floatingInputValue">Logo</label>
        </div>

        <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Outras informações</label>
        </div>

        <!-- Botão submit -->
        <div class="div-btn">
            <button type="submit" class="btn btn-dark">SALVAR ALTERAÇÕES</button>
        </div>
    </form>
</div>