<div class="container">
    <!-- Título -->
    <h1 class="titulo">
        Editar empresa
        <img class="icone-titulo" src="../../../../assets/empresa/editar.svg" alt="">
    </h1>

    <!-- Formulário -->
    <form [formGroup]="empresas" (ngSubmit)="AttEmpresa()">

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputValue" formControlName="nomeEmpresa">
            <label for="floatingInputValue">Nome Da Empresa</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputValue" formControlName="cores">
            <label for="floatingInputValue">Cores</label>
        </div>

        <div class="form-floating display">
            <input type="file" (change)="ArquivoSelecionado($event)" class="form-control col-4" id="logo" formControlName="logo">
            <label for="logo">Logo</label>
        </div>

        <div class="div-btn">
            <button type="submit" class="btn btn-dark">SALVAR ALTERAÇÕES</button>
        </div>
    </form>
</div>