@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');

body {
  position: relative;
}

.sidenav {
  background: #1b325f;
  transition: all 0.5s ease;
  position: relative;
  z-index: 1;
  top: 0;
  height: 100vh;
}

.sidenav-aberto {
  width: 200px;
}

.sidenav-container {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 13px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}

.sidenav-links {
  list-style: none;
  cursor: pointer;
  padding-left: 8px;
}

.sidenav-links-item {
  margin-top: 25px;
}

.sidenav-nav-link {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 200;
  font-size: 14px;
}

.sidenav-nav-link:hover {
  background-color: #c4c1c1;
  font-weight: 500;
  padding: 6px;
  border-radius: 8px;
}

#btn-sair {
  margin-top: 140px;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 200;
  font-size: 14px;
}
#btn-sair:hover {
  color: black;
}

img {
  filter: brightness(0) invert(1);
  margin-bottom: 6px;
  margin-right: 7px;
}