<div class="container">
  <form class="form">

    <!-- Nome -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="id_Aluno">ID Aluno</label>
          <input type="text" class="form-control" id="id_Aluno" formControlName="id_Aluno">
        </div>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-dark">EDITAR</button>
      </div>
    </div>
    <p></p>

    <!-- Descrição -->
    <div class="row">
      <div class="col">
        <label for="descricao">Descrição</label>
        <textarea class="form-control" name="descricao" id="descricao" rows="3" formControlName="descricao"></textarea>
        <!--        <span class="msg-erro-form text-danger" *ngIf="validarMensagemDeErro('descricao')">Por favor insira a
          descrição do atendimento</span> -->
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col">
        <label for="data">Data </label>
        <input type="date" class="form-control" id="data" formControlName="data">
      </div>
      <p></p>

      <div class="row">
        <div class="col">
          <label for="id.Pedagogo">id Pedagogo</label>
          <input type="text" class="form-control" id="id.Pedagogo" formControlName="id.Pedagogo">
        </div>
      </div>
    </div>
    <!-- Status -->
    <div class="form-check">
      <!-- Ativo -->
      <input class="form-check-input" type="checkbox" value="true" id="flexCheckCheckedDisabled" checked>
      <label class="form-check-label" for="flexCheckCheckedDisabled">
        Ativo
      </label>
    </div>

    <!-- Botões -->
    <div class="div-btn">
      <button type="submit" class="btn btn-dark">SALVAR</button>
      <button type="submit" class="btn btn-delete">DELETAR</button>
    </div>
  </form>
</div>
